<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret tic-tac-toe</title>
  <link rel="stylesheet" href="{% static 'css/game.css'%}">
</head>
<body>
  <div class="field" id="filed">
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>
    <button class="cell"></button>

  </div>
</body>
  <script src="{% static 'js/game.js'%}"></script>
</html>