<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inkass Page</title>
  <link rel="stylesheet" href="{% static 'css/body.css'%}">
  <link rel="stylesheet" href="{% static 'css/inventory.css'%}">
  <link rel="stylesheet" href="{% static 'css/inkass.css'%}">
</head>
<body>
<div class="page-wrapper">
  <h1>Инкассация</h1>
<!--  <form class="form inkass">-->
<!--    <select class="input"></select>-->
<!--    <p class="input">Баланс поставщика</p>-->
<!--    <input placeholder="Сколько отдаем" class="input" type="number">-->
<!--    <button type="submit" class="input">Добавить</button>-->
<!--  </form>-->
</div>

</body>
<script src="{% static 'js/jquery-3.6.1.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/inkass.js'%}" type="module" ></script>
</html>