.sidebar{
    width: 100px;
    background: var(--inso-white);
    border-radius: 5% 5%;
    flex: 2;
    position: sticky;
}

.category-list{
    list-style: none;
    font-size: large;
    padding-left: 1.5rem;
}

.category-list li{
    padding-top: 4%;
    padding-bottom: 4%;
}

.list-button{
    border: 0;
    background: var(--inso-white);
    font-size: 18px;
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: start;
}

.list-button:hover{
    scale: 1.1;
    font-family: NTSomic-Bold;
}

.list-button.active{
    scale: 1.1;
    font-family: NTSomic-Bold;
}